* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: skyblue;
    display: flex;
    height: 53px;
}

.nav-link li {
    list-style: none;
    display: flex;
    margin-right: 42px;
    color: white;
    font-size: 20px;
}

.nav-link li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}.fas{
    padding-right: 10px;
}

ul.nav-link {
    display: flex;
    position: absolute;
    right: 0;
}

li {
    align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    margin-left: 30px;
}

nav {
    display: flex;
    align-items: center;
}

.imgsec {
    display: flex;
    justify-content: space-evenly; /* This will evenly distribute items with equal space around them */
}.left {
    margin: 10px 35px;
}.right{
    margin: 10px 0px;
}
