*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p::first-letter{
    font-size: 50px;
}
p:first-line {
    font-style:italic;
}
div > p:first-of-type {
    color: green;
}
div > p:last-of-type {
    font-weight: bold;
}
div > p:nth-last-of-type(2) {
    color: blue;
}
::selection {
    background-color: yellow;
}